/* Global styles */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 15px;
}

/* Header styles */
header {
	background-color: #333;
	color: #fff;
	padding: 20px 0;
}
hr {
  border: 0;
  height: 1px;
  background-color: #333;
  margin: 2px 0;
}

/* Style unclicked links */
a {
  color: #b8b8b8;
  text-decoration: none;
}

/* Style clicked links */
a:visited {
  color: #b8b8b8;
  text-decoration: none;
}

/* Style hovered links */
a:hover {
  color: #fff;
  text-decoration: underline;
}


header h1 {
	margin: 0;
	padding: 0;
	float: left;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
}

nav li {
	display: inline-block;
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

/* Main styles */
.intro {
	background-color: #333;
	color: #fff;
	padding: 50px 0;
	text-align: center;
}

.blog-post {
	border: 1px solid #ccc;
	padding: 20px;
	margin-bottom: 30px;
}

.blog-post h3 {
	margin-top: 0;
}

.blog-post p {
	margin: 0;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
	body {
		background-color: #222;
		color: #fff;
	}

	header {
		background-color: #333;
		color: #fff;
	}

	header a {
		color: #fff;
	}

	.container {
		color: #fff;
	}

	.intro {
		background-color: #333;
		border-color: #fff;
		color: #fff;
	}

	.blog-post {
		background-color: #444;
		border-color: #fff;
		color: #fff;
	}

	.blog-post a {
		color: #fff;
	}

	footer {
		background-color: #333;
		color: #fff;
	}
}

/* Footer styles */
footer {
	background-color: #333;
	color: #fff;
	padding: 10px 0;
	text-align: center;
}

footer p {
	margin: 0;
}

/* Media queries */
@media (max-width: 768px) {
	header h1,
	nav ul {
		float: none;
	}

	nav li {
		display: block;
		margin: 10px 0;
		text-align: center;
	}
}
