
.background{
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  header{
    background-color: black;
    padding: 0px;
    text-align: center;
    line-height: 10px;
    color: rgba(220, 20, 60, 0.644);
  }
  section{
    background: white;
    color: grey;
    padding: 20px;
    display: flex;
    flex-direction: row;
  }
  ul{
    list-style-type: none;
    word-spacing: 30px;
    line-height: 5px;
    padding: 10px;
    text-align: center;
    background-color: black;
    border: 1px solid darkgreen;
    }
  li{
    display: inline-block;
    margin-right: 5px;
    background-color: black;
  }
    .body-text{
      background-color: orange;
      color: purple;
      font-size: 20px;
      font-family: 'Franklin Gothic Medium';
      padding: 10px;
    }

  a[href*="https://www.youtube.com/channel/UCGL0s7Knut60pVlNwB0Rz9g"]{
    color : darkgreen;
  }
  

  .about-me{
    background-color:black ;
    color: darkgreen;
    font-size: 15px;
    line-height: 20px;
    width: auto;
    text-align: center;
  }

  h1{
    font-size: 50px;
    text-align: center;
  }
  a[href*="../index.html"], [href*="about.html"],[href*="blog.html"], [href*="projects.html"]{
    color : darkgreen;
  }
  hr{
    color:darkgreen noshade;
    width: auto;
    size: 50px;
    }
    p{
    background-color:black ;
    color: darkgreen;
    font-size: 15px;
    line-height: 20px;
    width: auto;
    text-align: center;
    }