
body{
    background: rgb(58,58,58);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  title{
    background-color: black;
    padding: 20px
  }
  header{
    background-color: black;
    padding: 20px
  }
  section{
    background: white;
    color: grey;
    padding: 20px;
    display: flex;
    flex-direction: row;
  }
  ul{
    list-style-type: none;
  }
  li{
    display: inline-block;
    margin-right: 20px;
  }
    .body-text{
      background-color: yellow;
      color: blueviolet;
      font-size: 20px;
      font-family: 'Franklin Gothic Medium';
      padding: 10px;
    }
  
  
    .box1{
      background-color: green;
      height: 30px;
      width: 40px;
    }